apiVersion: v1
data:
  tls.crt: {{ SEALED_SECRET_CERTIFICATE | b64encode}}
  tls.key: {{ SEALED_SECRET_KEY | b64encode}}
kind: Secret
metadata:
  name: sealed-secrets-key
  namespace: kube-system
type: Opaque